In [1]:
import mne
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
import csv

In [4]:
df = pd.read_csv('C:/Users/splaw/OneDrive/Pulpit/dyplom/eegParkinsonCognitiveDisorders/dataset.csv', sep=';')

In [5]:
df

,ID,Plec,Wiek,PD,PD_czas_trwania,Strona_prawa,Strona_lewa,UPDRS,Hoehn-Yahr,LED,MMSE,ACEIII
0,PD129,2,57,1,10,1.0,0.0,42.0,3,555,26.0,NaN
1,PD130,2,70,0,5,0.0,1.0,53.0,2,640,27.0,NaN
2,PD131,1,73,2,14,0.0,0.0,61.0,2,505,23.0,NaN
3,PD132,2,72,1,20,1.0,0.0,51.0,3,1260,NaN,77.0
4,PD133,2,43,0,7,0.0,1.0,43.0,3,1450,27.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
103,PD235,1,69,2,7,1.0,0.0,67.0,4,400,NaN,72.0
104,PD236,2,81,2,11,1.0,1.0,63.0,4,1655,NaN,64.0
105,PD237,1,72,0,22,0.0,1.0,55.0,4,1200,NaN,90.0
106,PD238,2,71,1,12,1.0,0.0,46.0,3,2340,NaN,83.0
107,PD239,1,81,2,15,1.0,0.0,82.0,4,500,NaN,64.0

In [53]:
plec = df.groupby('PD').size().reset_index(name='liczba osób')

In [54]:
plec

   PD  liczba osób
0   0           47
1   1           33
2   2           28

In [57]:
pd = df.groupby(['Plec','PD']).size()
pd

Plec  PD
1     0     18
      1     13
      2     16
2     0     29
      1     20
      2     12
dtype: int64

In [47]:
pdd=pd.groupby('Plec').size().reset_index(name='liczba osób')

KeyError: 'Plec'

In [36]:
pd = df.groupby('PD')['Wiek'].mean()
pd

PD
0    62.063830
1    68.757576
2    71.964286
Name: Wiek, dtype: float64

In [44]:
# Importuj bibliotekę pandas, jeśli jeszcze tego nie zrobiłeś
import pandas as pd

# Zakładając, że 'df' to twoja ramka danych

# Najpierw oblicz sumę 'Plec' dla każdej unikalnej wartości w kolumnie 'PD'
pd_sum = df.groupby('PD')['Plec'].sum().reset_index()

# Następnie możesz obliczyć sumę 'Plec' w zależności od płci
sum_by_gender = pd_sum.groupby('Plec').sum()

# Wynik zostanie zwrócony w formie serii (Series) Pandas
sum_by_gender

      PD
Plec
40     2
53     1
76     0